<div class="container">
  <div class="row">
    <div class="col text-center m-5">
      <h1>お問い合わせありがとうございました！</h1>
      <%= link_to " TOPページへ", root_path, class: 'btn btn-lg btn-dark mt-5' %>
    </div>
  </div>
</div>