<div class="container">
  <div class="row">
    <div class="col-9">
      <h1>これはトップページです</h1>
      <%= link_to "Q&Aサイトへ", questions_path , class: 'btn btn-light' %>
    </div>
    <%= render 'layouts/sidebar' %>
  </div>
</div>
