<!-- ユーザーの投稿データ -->
<div class="user_data border-bottom py-3">
  <div class="row">
    <div class="col-1">
      <%= attachment_image_tag data.user, :user_image, :fill, 100, 100, format: 'jpeg', fallback:"sample_img.jpg", size: '50x50', class: 'rounded-circle' %>
    </div>
    <div class="col-8 pl-0">
      <div class="post-date-list">
        <ul>
          <li>投稿者 : <%= link_to data.user.name, root_path %> さん</li>
          <li><%= data.created_at.strftime('%Y/%m/%d %H:%M') %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
