<div class="container">
  <div class="row">
    <div class="col">
      <h1>Q&Aサービスのトップページです</h1>
      <%= link_to "Q&A新規作成", new_question_path , class: 'btn btn-light' %>
      <%= link_to "未解決のQ&A一覧", unsolved_questions_path , class: 'btn btn-light' %>
      <%= link_to "解決済みのQ&A一覧", solved_questions_path , class: 'btn btn-light' %>
      <%= link_to "投稿したQ&A一覧", my_question_questions_path , class: 'btn btn-light' %>
    </div>
  </div>
</div>