<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="border-bottom pb-3">投稿した問題</h1>
      <%= render 'layouts/question_list', questions: @questions %>
      <%= paginate @questions %>
    </div>
  </div>
</div>