/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP');
// レイアウトのためのTagit
@import "jquery.tagit";
@import "tagit.ui-zendesk";
@import "flickity";


body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #272343;
}

main {
  min-height: calc(100vh - 124px - 224px);
}

footer {
  padding: 100px;
  width: 100%;
}

a {
  color: #1f4e5f;
}

a:hover {
  color: #ff8c00;
}

.post-date-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gallery-cell {
  width: 33.33%;
  position: relative;
}

.gallery-cell p{
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 2em;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  padding: 0 10px;
  margin: 0;
}

.slide-image {
  width: 100%;
}

.slide-image:hover {
  filter: opacity(70%);
}

.header-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination {
  justify-content: center;
}

.cover-img {
  height: 600px;
	display: table;
	width: 100%;
	background-image: image-url("default_cube.jpg");
	background-size: cover;
	background-position: center;
	position: relative;
	color: white;
}

.cover-img-inner-box {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 580px);
}

.question-title {
  color: #007bff;
}

.flash-notice{
  position : absolute;
  top: 123px;
  left: 0;
  right: 0;
  margin : auto;
  z-index: 5;
  border-radius: 0;
}

.flash-alert{
  position : absolute;
  left: 0;
  right: 0;
  margin : auto;
  z-index: 5;
  border-radius: 0;
}

.contact-form-title {
  width: 300px;
}

@media screen and (max-width: 959px) {
	.gallery-cell {
    width: 100%;
    position: relative;
  }
}