<% visiter = notification.visiter %>
<% visited = notification.visited %>

<div class="row">
  <div class="col">
    <span>
      <%= link_to visiter.name, user_path(visiter) %>さんが
    </span>

  </div>

</div>