<div class="col-3">
  <div class="row">
    <%= link_to questions_path do %>
    <div class="col border border-secondary rounded mb-5">
      <h3>わからない3DCGの疑問を質問して解決！</br>Q&Aサービスへ</h3>
    </div>
    <% end %>
  </div>
  <div class="bg-secondary" style="height: 1000px">
  </div>
</div>