<% if blog.twitter_url.present? %>
  <blockquote class="twitter-tweet">
  <a href="<%= blog.twitter_url %>"></a></blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<% end %>